---
swagger: "2.0"
info:
  description: "\
    [solved.ac](https://solved.ac/) 의 비공식 API 문서입니다. \
    원작자의 요청에 따라 언제든지 지워질 수 있으며, \
    문서의 내용은 현재 API와 일치하지 않을 수 있습니다. \
    "
  version: "2020-07.1"
  title: "solved.ac"
  contact:
    email: "public.ranolp@gmail.com"
host: "solved.ac"
basePath: "/api/v3"
tags:
  - name: "기타"
    description: "아직 분류하지 못한 API입니다"
  - name: "사용자"
    description: "사용자와 관련이 있는 API입니다"
  - name: "문제"
    description: "문제와 관련이 있는 API입니다"
schemes:
  - "https"
paths:
  /search/suggestion:
    get:
      tags:
        - "기타"
      summary: "주어진 쿼리에 따라 백준 문제를 검색합니다."
      description: ""
      parameters:
        - name: "query"
          in: "query"
          description: "쿼리 문자열"
          required: true
          type: "string"
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              autocomplete:
                type: "array"
                items:
                  type: "object"
                  properties:
              problems:
                description: "검색해서 찾은 백준 문제 목록입니다."
                type: "array"
                items:
                  $ref: "#/definitions/Problem"
              problemCount:
                description: "검색해서 찾은 백준 문제 수입니다."
                type: "integer"
                format: "int64"
                example: 1
              users:
                description: "검색해서 찾은 사용자 목록입니다."
                type: "array"
                items:
                  $ref: "#/definitions/User"
              userCount:
                description: "검색해서 찾은 사용자 수입니다."
                type: "integer"
                format: "int64"
                example: 1
              tags:
                description: "검색해서 찾은 태그 목록입니다."
                type: "array"
                items:
                  $ref: "#/definitions/Tag"
              tagCount:
                description: "검색해서 찾은 태그 수입니다."
                type: "integer"
                format: "int64"
                example: 1
  /site/stats:
    get:
      tags:
        - "기타"
      summary: "solved.ac 통계를 가져옵니다."
      description: ""
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              problemCount:
                description: "여태까지 색인된 백준 문제 수입니다."
                type: "integer"
                format: "int64"
                example: 20353
              problemVotedCount:
                description: "여태까지 난이도가 기여된 백준 문제 수입니다."
                type: "integer"
                format: "int64"
                example: 12463
              userCount:
                description: "여태까지 등록한 사용자 수입니다."
                type: "integer"
                format: "int64"
                example: 34249
              contributorCount:
                description: "여태까지 난이도에 기여한 사용자 수입니다."
                type: "integer"
                format: "int64"
                example: 1173
              contributionCount:
                description: "여태까지 이루어진 난이도 기여의 수입니다."
                type: "integer"
                format: "int64"
                example: 101172
  /account/verify_credentials:
    get:
      tags:
        - "사용자"
      summary: "현재 로그인한 계정 정보를 가져옵니다."
      description: ""
      parameters:
        - name: "solvedacToken"
          in: "cookie"
          description: "사용자 토큰"
          required: true
          type: "string"
      responses:
        403:
          description: "solvedacToken이 올바르지 않은 경우입니다."
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              user:
                description: "계정의 사용자 정보입니다."
                allOf:
                  - $ref: "#/definitions/User"
                  - type: "object"
                    properties:
                      settings:
                        $ref: "#/definitions/Settings"
                      email:
                        description: "계정의 이메일 주소입니다."
                        type: "string"
                        format: "email"
                        example: "kiwiyou.dev@gmail.com"
  /account/update_settings:
    patch:
      tags:
        - "사용자"
      summary: "현재 로그인한 계정의 설정을 변경합니다.."
      description: ""
      parameters:
        - name: "solvedacToken"
          in: "cookie"
          description: "사용자 토큰"
          required: true
          type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              key:
                description: "업데이트할 설정의 이름입니다."
                type: "string"
                example: "twitterPostOnClassIncrease"
              value:
                description: "업데이트할 설정의 새로운 값입니다."
                example: "true"
      responses:
        403:
          description: "solvedacToken이 올바르지 않은 경우입니다."
        204:
          description: "서버가 반환에 성공한 경우입니다."
  /user/problem_stats:
    get:
      tags:
        - "사용자"
      summary: "사용자가 푼 문제 개수를 레벨별로 가져옵니다."
      description: ""
      parameters:
        - name: "handle"
          in: "query"
          description: "사용자 ID"
          required: true
          type: "string"
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "array"
            items:
              type: "object"
              properties:
                level:
                  $ref: "#/definitions/Level"
                total:
                  description: "solved.ac에 등록된 해당 레벨의 문제 수입니다."
                  type: "integer"
                  format: "int64"
                  example: 7671
                solved:
                  description: "사용자가 푼 문제 수입니다."
                  type: "integer"
                  format: "int64"
                  example: 105
                partial:
                  description: "사용자가 부분 성공한 문제 수입니다."
                  type: "integer"
                  format: "int64"
                  example: 17
                tried:
                  description: "사용자가 시도해본 문제 수입니다."
                  type: "integer"
                  format: "int64"
                  example: 113
                exp:
                  description: "사용자가 해당 레벨에서 획득한 경험치의 합입니다."
                  type: "integer"
                  format: "int64"
                  example: 33600
  /problem/show:
    get:
      tags:
        - "문제"
      summary: "해당하는 ID의 문제를 가져옵니다."
      description: ""
      parameters:
        - name: "problemId"
          in: "query"
          description: "문제 ID"
          required: true
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              problemId:
                description: "문제의 ID입니다."
                type: "integer"
                format: "int64"
                example: 13705
              titleKo:
                description: "한국어로 된 문제 제목입니다. HTML entity나 LaTeX 수식을 포함할 수 있습니다."
                type: "string"
                example: "Ax+Bsin(x)=C"
              isSolvable:
                description: "채점이 가능한지 여부입니다."
                type: "boolean"
                example: true
              isPartial:
                description: "부분 점수 혹은 서브태스크 문제인지 여부입니다."
                type: "boolean"
                example: false
              acceptedUserCount:
                description: "맞은 사용자의 수입니다."
                type: "integer"
                format: "int64"
                example: 189
              level:
                $ref: "#/definitions/Level"
              votedUserCount:
                description: "이 문제의 난이도에 기여를 한 사용자의 수입니다."
                type: "integer"
                format: "int64"
                example: 62
              isLevelLocked:
                description: "난이도 기여가 제한되었는지 여부입니다."
                type: "boolean"
                example: false
              averageTries:
                description: "문제를 푼 사용자의 평균 시도 횟수입니다."
                type: "number"
                example: 28.8413
              tags:
                description: "문제의 태그 목록입니다."
                type: "array"
                items:
                  type: "object"
                  properties:
                    key:
                      description: "태그의 ID입니다."
                      type: "string"
                      example: "arbitrary_precision"
                    isMeta:
                      type: "boolean"
                      example: false
                    bojTagId:
                      description: "BOJ에서 사용되는 이 태그의 ID입니다."
                      type: "integer"
                      format: "int64"
                      example: 117
                    problemCount:
                      description: "이 태그를 포함하는 문제의 수입니다."
                      type: "integer"
                      format: "int64"
                      example: 113
                    displayNames:
                      description: "언어별 태그의 이름 목록입니다."
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          language:
                            description: "언어의 이름입니다."
                            allOf:
                              - $ref: "#/definitions/Language"
                          name:
                            description: "태그의 이름입니다."
                            type: "string"
                            example: "임의 정밀도 / 큰 수 연산"
                          short:
                            type: "string"
                            example: "임의 정밀도 / 큰 수 연산"

definitions:
  Level:
    description: "Unrated부터 Ruby I까지를 0 ~ 31로 표현하는 문제 레벨입니다."
    type: "integer"
    format: "int64"
  Tier:
    description: "Bronze V부터 Ruby II까지를 0 ~ 30으로, Master를 31로 표현하는 사용자 레벨입니다."
    type: "integer"
    format: "int64"
  Organization:
    type: "object"
    properties:
      organizationId:
        description: "조직의 ID입니다."
        type: "integer"
        format: "int64"
        example: 1082
      name:
        description: "조직의 이름입니다."
        type: "string"
        example: "solved.ac"
      type:
        description: "조직의 구분입니다."
        type: "string"
        enum: ["community", "university", "company", "high_school"]
      rating:
        descripton: "조직의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 2321
      userCount:
        description: "조직에 포함된 사용자의 수입니다."
        type: "integer"
        format: "int64"
        example: 2
      voteCount:
        description: "조직의 총 난이도 기여 수입니다."
        type: "integer"
        format: "int64"
        example: 1518
      solvedCount:
        description: "조직의 총 푼 문제 수입니다."
        type: "integer"
        format: "int64"
        example: 2729
      color:
        description: "조직의 색깔입니다."
        type: "string"
        example: "#000000"
  Problem:
    type: "object"
    properties:
      id:
        description: "문제의 고유 번호입니다."
        type: "integer"
        format: "int64"
        example: 8481
      title:
        description: "문제의 제목입니다."
        type: "string"
        example: "Generator"
      level:
        $ref: "#/definitions/Level"
      solved:
        description: "문제를 푼 사람의 수입니다."
        type: "integer"
        format: "int64"
        example: 20
      caption:
        type: "string"
        example: "Generator"
      description:
        type: "string"
        example: "#8481"
      href:
        description: "문제로 가는 하이퍼링크입니다."
        type: "string"
        example: "https://www.acmicpc.net/problem/8481"
  User:
    type: "object"
    properties:
      handle:
        description: "사용자명입니다."
        type: "string"
        example: "shiftpsh"
      bio:
        description: "사용자의 자기소개입니다."
        type: "string"
        example: "🧡 이곳의 개발자입니다."
      organizations:
        description: "사용자가 속한 조직 목록입니다."
        type: "array"
        items:
          ref: "#/definitions/Organization"
      badge:
        description: "사용자의 배지입니다."
        type: "object"
        nullable: true
        properties:
          badgeId:
            description: "배지의 ID입니다."
            type: "string"
            example: "anniversary_1st"
          badgeImageUrl:
            description: "배지 사진으로 가는 하이퍼링크입니다."
            type: "string"
            example: "https://static.solved.ac/profile_badge/anniversary_1st.png"
          displayName:
            description: "배지의 이름입니다."
            type: "string"
            example: "1솔브"
          displayDescription:
            description: "배지의 설명입니다."
            type: "string"
            example: "solved.ac의 1주년과 함께했다"
      background:
        description: "사용자의 배경 사진입니다."
        type: "object"
        properties:
          backgroundId:
            description: "배경의 고유 ID입니다."
            type: "string"
            example: "balloon_002"
          backgroundImageUrl:
            description: "배경 사진으로 가는 하이퍼링크입니다."
            type: "string"
            example: "https://static.solved.ac/profile_bg/balloon_002/balloon_002.png"
          author:
            description: "배경의 제작자를 표시하는 문구입니다."
            type: "string"
            example: "Photo by Al Soot on Unsplash"
          authorUrl:
            description: "배경의 제작자와 관련된 사이트로 가는 하이퍼링크입니다."
            type: "string"
            example: "https://unsplash.com/photos/yRjLihK35Yw"
          displayName:
            description: "배경의 이름입니다."
            type: "string"
            example: "하늘을 수놓은 풍선"
          displayDescription:
            description: "배경의 설명입니다."
            type: "string"
            example: "assorted colored balloons mid airs"
      profileImageUrl:
        description: "사용자의 프로필 사진으로 가는 하이퍼링크입니다."
        type: "string"
        nullable: true
        example: "https://static.solved.ac/uploads/profile/0565b63f0b204e990d1b163018a1c358992519b8.png"
      solvedCount:
        description: "사용자가 푼 문제 수입니다."
        type: "integer"
        format: "int64"
        example: 2658
      voteCount:
        description: "사용자가 난이도 기여를 한 횟수입니다."
        type: "integer"
        format: "int64"
        example: 1326
      exp:
        description: "사용자가 여태까지 획득한 경험치량입니다."
        type: "integer"
        format: "int64"
        example: 498605585
      tier:
        $ref: "#/definitions/Tier"
      rating:
        description: "사용자의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 2641
      ratingByProblemsSum:
        description: "푼 문제의 난이도 합으로 계산한 사용자의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 2211
      ratingByClass:
        description: "취득한 클래스에 따른 사용자의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 230
      ratingBySolvedCount:
        description: "푼 문제 수로 계산한 사용자의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 175
      ratingByVoteCount:
        description: "문제 난이도에 기여한 횟수로 계산한 사용자의 레이팅입니다."
        type: "integer"
        format: "int64"
        example: 25
      class:
        description: "사용자가 취득한 Class입니다."
        type: "integer"
        format: "int64"
        example: 8
      classDecoration:
        description: "사용자가 취득한 Class의 수준입니다."
        type: "string"
        enum: ["none", "silver", "gold"]
      rivalCount:
        description: "사용자의 라이벌 수입니다."
        type: "integer"
        format: "int64"
        example: 38
      reverseRivalCount:
        description: "사용자의 역라이벌 수입니다."
        type: "integer"
        format: "int64"
        example: 53
      maxStreak:
        description: "최대 연속 문제 풀이일 수입니다."
        type: "integer"
        format: "int64"
        example: 6
  Tag:
    type: "object"
    properties:
      key:
        type: "string"
        example: "bitmask"
      name:
        type: "string"
        example: "bitmask"
      problemCount:
        type: "integer"
        format: "int64"
        example: 284
      caption:
        type: "string"
        example: "tag:bitmask"
      description:
        type: "string"
        example: "284문제"
      href:
        type: "string"
        example: "/problems/tags/bitmask"
  Settings:
    description: "사용자의 solved.ac 설정 정보입니다."
    type: "object"
    properties:
      screenTheme:
        description: "사이트 디자인 테마입니다."
        type: "string"
        enum: ["default", "light", "dark", "black"]
      tagDisplayLanguage:
        description: "태그 이름을 나타낼 때 사용할 언어입니다."
        allOf:
          - $ref: "#/definitions/Language"
      iconSchemeSolved:
        description: "해결한 문제의 난이도 아이콘입니다."
        allOf:
          - $ref: "#/definitions/IconScheme"
      iconSchemeNotSolved:
        description: "해결하지 못한 문제의 난이도 아이콘입니다."
        allOf:
          - $ref: "#/definitions/IconScheme"
      problemSortBy:
        description: "문제 목록의 기본 정렬 순서입니다."
        type: "string"
        enum: ["id", "level", "title", "solved", "average_try", "random"]
      twitterPostHandle:
        description: "트윗에 핸들을 포함하는지 여부입니다."
        type: "string"
        format: "boolean"
        example: "true"
      twitterPostOnClassIncrease:
        description: "CLASS가 올랐을 때 트윗을 보내는지 여부입니다."
        type: "string"
        format: "boolean"
        example: "false"
      twitterPostOnProblemSolve:
        description: "문제를 처음 해결했을 때 트윗을 보내는지 여부입니다."
        type: "string"
        format: "boolean"
        example: "true"
      twitterPostOnRatingIncrease:
        description: "AC 레이팅이 올랐을 때 트윗을 보내는지 여부입니다."
        type: "string"
        format: "boolean"
        example: "false"
      twitterPostOnTierIncrease:
        description: "티어가 올랐을 때 트윗을 보내는지 여부입니다."
        type: "string"
        format: "boolean"
        example: "true"
  IconScheme:
    type: "string"
    enum: ["default", "hide-warn", "hide"]
  Language:
    type: "string"
    enum: ["ko", "en"]
