---
swagger: "2.0"
info:
  description: "\
    [solved.ac](https://solved.ac/) 의 비공식 API 문서입니다. \
    원작자의 요청에 따라 언제든지 지워질 수 있으며, \
    문서의 내용은 현재 API와 일치하지 않을 수 있습니다. \
    "
  version: "2020-06.1"
  title: "solved.ac"
  contact:
    email: "public.ranolp@gmail.com"
host: "api.solved.ac"
basePath: "/v2"
tags:
  - name: "기타"
    description: "아직 분류하지 못한 API입니다"
  - name: "사용자"
    description: "사용자와 관련이 있는 API입니다"
schemes:
  - "https"
paths:
  /search/recommendations.json:
    get:
      tags:
        - "기타"
      summary: "주어진 쿼리에 따라 백준 문제를 검색합니다."
      description: ""
      parameters:
        - name: "query"
          in: "query"
          description: "쿼리 문자열"
          required: true
          type: "string"
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              success:
                description: "요청 성공 여부입니다."
                type: "boolean"
                example: true
              result:
                type: "object"
                properties:
                  autocomplete:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                  problems:
                    description: "검색해서 찾은 백준 문제 목록입니다."
                    type: "array"
                    items:
                      $ref: "#/definitions/Problem"
                  problem_count:
                    description: "검색해서 찾은 백준 문제 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 1
                  users:
                    description: "검색해서 찾은 사용자 목록입니다."
                    type: "array"
                    items:
                      $ref: "#/definitions/User"
                  user_count:
                    description: "검색해서 찾은 사용자 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 1
                  algorithms:
                    description: "검색해서 찾은 알고리즘 목록입니다."
                    type: "array"
                    items:
                      $ref: "#/definitions/Algorithm"
                  algorithm_count:
                    description: "검색해서 찾은 알고리즘 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 1
                  wiki_articles:
                    description: "검색해서 찾은 위키 글 목록입니다."
                    type: "array"
                    items:
                      $ref: "#/definitions/WikiArticle"
  /site/statistics.json:
    get:
      tags:
        - "기타"
      summary: "solved.ac 통계를 가져옵니다."
      description: ""
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              success:
                description: "요청 성공 여부입니다."
                type: "boolean"
              result:
                type: "object"
                properties:
                  total_problems:
                    description: "여태까지 색인된 백준 문제 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 16355
                  voted_problems:
                    description: "여태까지 투표된 백준 문제 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 9742
                  total_voters:
                    description: "여태까지 투표한 사용자 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 470
                  total_votes:
                    description: "여태까지 기록된 투표 수입니다."
                    type: "integer"
                    format: "int64"
                    example: 52085
  /users/problem_stats.json:
    get:
      tags:
        - "사용자"
      summary: "사용자가 푼 문제 개수를 레벨별로 가져옵니다."
      description: ""
      parameters:
        - name: "id"
          in: "query"
          description: "사용자 ID"
          required: true
          type: "string"
      responses:
        200:
          description: "서버가 반환에 성공한 경우입니다."
          schema:
            type: "object"
            properties:
              success:
                description: "요청 성공 여부입니다."
                type: "boolean"
                example: true
              result:
                type: "array"
                items:
                  type: "object"
                  properties:
                    level:
                      description: "문제의 레벨입니다."
                      type:
                        $ref: "#/definitions/Level"
                      example: 0
                    problems:
                      description: "solved.ac에 등록된 문제 수입니다."
                      type: "integer"
                      format: "int64"
                      example: 6456
                    solved:
                      description: "사용자가 푼 문제 수입니다."
                      type: "integer"
                      format: "int64"
                      example: 105
                    attempted:
                      description: "사용자가 시도해본 문제 수입니다."
                      type: "integer"
                      format: "int64"
                      example: 113
                    solved_exp_sum:
                      description: "사용자가 해당 레벨에서 획득한 경험치의 합입니다."
                      type: "integer"
                      format: "int64"
                      example: 33600
definitions:
  Level:
    description: "Unrated부터 Ruby I까지를 0 ~ 31로 표현하는 레벨입니다."
    type: "integer"
    format: "int64"
  Problem:
    type: "object"
    properties:
      id:
        description: "문제의 고유 번호입니다."
        type: "integer"
        format: "int64"
        example: 8481
      title:
        description: "문제의 제목입니다."
        type: "string"
        example: "Generator"
      level:
        description: "문제의 난이도입니다."
        type: "#/definitions/Level"
        format: "int64"
        example: 23
      solved:
        description: "문제를 푼 사람의 수입니다."
        type: "integer"
        format: "int64"
        example: 20
      caption:
        type: "string"
        example: "Generator"
      description:
        type: "string"
        example: "#8481"
      href:
        description: "문제로 가는 하이퍼링크입니다."
        type: "string"
        example: "https://www.acmicpc.net/problem/8481"
  User:
    type: "object"
    properties:
      user_id:
        description: "사용자명입니다."
        type: "string"
        example: "shiftpsh"
      bio:
        description: "사용자의 자기소개입니다."
        type: "string"
        example: "🧡 이곳의 개발자입니다."
      profile_image_url:
        description: "사용자의 프로필 사진으로 가는 하이퍼링크입니다."
        type: "string"
        example: "https://static.solved.ac/uploads/profile/0565b63f0b204e990d1b163018a1c358992519b8.png"
      solved:
        description: "사용자가 푼 문제 수입니다."
        type: "integer"
        format: "int64"
        example: 2412
      exp:
        description: "사용자가 여태까지 획득한 경험치량입니다."
        type: "integer"
        format: "int64"
        example: 498605585
      level:
        description: "사용자의 레벨입니다."
        type: "#/definitions/Level"
        example: 25
      class:
        description: "사용자가 취득한 Class입니다."
        type: "integer"
        format: "int64"
        example: 8
      class_decoration:
        description: "사용자가 취득한 Class의 수준입니다."
        type: "integer"
        format: "int64"
        example: 0
      vote_count:
        description: "사용자가 한 난이도 투표의 수입니다."
        type: "integer"
        format: "int64"
        example: 1417
      rank:
        description: "사용자의 solved.ac 순위입니다."
        type: "integer"
        format: "int64"
        example: 43
  Algorithm:
    type: "object"
    properties:
      tag_name:
        type: "string"
        example: "bitmask"
      full_name_en:
        type: "string"
        example: "Bitmask"
      full_name_ko:
        type: "string"
        example: "비트마스킹"
      problem_count:
        type: "integer"
        format: "int64"
        example: 150
      caption:
        type: "string"
        example: "tag:bitmask"
      description:
        type: "string"
        example: "150문제"
      href:
        type: "string"
        example: "/problems/tags/bitmask"
  WikiArticle:
    type: "object"
    properties:
      title:
        type: "string"
        example: "완전 탐색"
      caption:
        type: "string"
        example: "완전 탐색"
      description:
        type: "string"
        example: ""
      href:
        type: "string"
        example: "/wiki/w/완전 탐색"
