# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2021-05-20
---
openapi: "3.1.0"

info:
  title: "@solvedac/unofficial-documentation"
  version: "3.2022.02+b1"
  description: |
    이 프로젝트는 [solved.ac](https://solved.ac/) API를 문서화하는 커뮤니티 프로젝트입니다.
    이 저장소는 원작자의 요청에 따라 언제든 지워질 수 있으며, 현재 API와 일치하지 않을 수도 있는 점 양해 부탁드립니다.

    <sup>
      solved.ac 서비스는 shiftpsh가 기획·개발·디자인·운영하는 프로젝트로,
      이 저장소와는 solved.ac의 API를 문서화해둔 것 이외에는 아무런 관련이 없습니다.
    </sup>

    [GitHub에서 보기](https://github.com/solvedac/unofficial-documentation)

    **주의**: (2023/03/08~) CORS 문제로 인해 API는 사이트 내에서 호출할 수 없으므로 별도 도구를 이용해주십시오. ([#51](https://github.com/solvedac/unofficial-documentation/issues/51))

    ![@solvedac/unofficial-documentation banner](./assets/solvedac-ud-compact.png)
  contact:
    email: public.ranolp@gmail.com

servers:
  - url: https://solved.ac/api/v3

tags:
  - name: "account"
    description: "계정과 관련이 있는 API입니다"
  - name: "coins"
    description: "코인/별조각과 관련이 있는 API입니다"
  - name: "other"
    description: "아직 분류하지 못한 API입니다"
  - name: "problem"
    description: "문제와 관련이 있는 API입니다"
  - name: "search"
    description: "검색과 관련이 있는 API입니다"
  - name: "user"
    description: "사용자와 관련이 있는 API입니다"

paths:
  /account/redeem:
    $ref: "./paths/account/redeem.yaml#/paths/Path"
  /account/update_settings:
    $ref: "./paths/account/update_settings.yaml#/paths/Path"
  /account/verify_credentials:
    $ref: "./paths/account/verify_credentials.yaml#/paths/Path"
  /coins/exchange_rate:
    $ref: "./paths/coins/exchange_rate.yaml#/paths/Path"
  /coins/shop/list:
    $ref: "./paths/coins/shop/list.yaml#/paths/Path"
  /post/show:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /problem/class:
    $ref: "./paths/problem/class.yaml#/paths/Path"
  /problem/lookup:
    $ref: "./paths/problem/lookup.yaml#/paths/Path"
  /problem/show:
    $ref: "./paths/problem/show.yaml#/paths/Path"
  /problem/level:
    $ref: "./paths/problem/level.yaml#/paths/Path"
  /ranking/tier:
    $ref: "./paths/ranking/tier.yaml#/paths/Path"
  /ranking/class:
    $ref: "./paths/ranking/class.yaml#/paths/Path"
  /ranking/streak:
    $ref: "./paths/ranking/streak.yaml#/paths/Path"
  /ranking/contribution:
    $ref: "./paths/ranking/contribution.yaml#/paths/Path"
  /ranking/rival:
    $ref: "./paths/ranking/rival.yaml#/paths/Path"
  /ranking/reverse_rival:
    $ref: "./paths/ranking/reverse_rival.yaml#/paths/Path"
  /ranking/organization:
    $ref: "./paths/ranking/organization.yaml#/paths/Path"
  /search/problem:
    $ref: "./paths/search/problem.yaml#/paths/Path"
  /search/suggestion:
    $ref: "./paths/search/suggestion.yaml#/paths/Path"
  /search/tag:
    $ref: "./paths/search/tag.yaml#/paths/Path"
  /search/user:
    $ref: "./paths/search/user.yaml#/paths/Path"
  /site/stats:
    $ref: "./paths/site/stats.yaml#/paths/Path"
  /tag/list:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/class_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/contribution_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/problem_stats:
    $ref: "./paths/user/problem_stats.yaml#/paths/Path"
  /user/problem_tag_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/show:
    $ref: "./paths/user/show.yaml#/paths/Path"

components:
  securitySchemes:
    solvedacToken:
      $ref: "./security-schemes/auth.yaml#/components/securitySchemes/SecurityScheme"
  schemas:
    ClassDecoration:
      $ref: "./schemas/class-decoration.yaml#/components/schemas/ClassDecoration"
    CoinshopProduct:
      $ref: "./schemas/coinshop-product.yaml#/components/schemas/CoinshopProduct"
    Badge:
      $ref: "./schemas/badge.yaml#/components/schemas/Badge"
    FullUser:
      $ref: "./schemas/full-user.yaml#/components/schemas/FullUser"
    IconScheme:
      $ref: "./schemas/icon-scheme.yaml#/components/schemas/IconScheme"
    Item:
      $ref: "./schemas/item.yaml#/components/schemas/Item"
    Language:
      $ref: "./schemas/language.yaml#/components/schemas/Language"
    TaggedProblem:
      $ref: "./schemas/tagged-problem.yaml#/components/schemas/TaggedProblem"
    Organization:
      $ref: "./schemas/organization.yaml#/components/schemas/Organization"
    Problem:
      $ref: "./schemas/problem.yaml#/components/schemas/Problem"
    ProblemLevel:
      $ref: "./schemas/problem-level.yaml#/components/schemas/ProblemLevel"
    ProblemTag:
      $ref: "./schemas/problem-tag.yaml#/components/schemas/ProblemTag"
    RankedUser:
      $ref: "./schemas/ranked-user.yaml#/components/schemas/RankedUser"
    Settings:
      $ref: "./schemas/settings.yaml#/components/schemas/Settings"
    SolvedAcStatistics:
      $ref: "./schemas/solvedac-statistics.yaml#/components/schemas/SolvedAcStatistics"
    User:
      $ref: "./schemas/user.yaml#/components/schemas/User"
    UserTier:
      $ref: "./schemas/user-tier.yaml#/components/schemas/UserTier"
