# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2021-05-20
---
openapi: "3.1.0"

info:
  title: "@solvedac/unofficial-documentation"
  version: "3.2021.09+b2"
  description: |
    이 프로젝트는 [solved.ac](https://solved.ac/) API를 문서화하는 커뮤니티 프로젝트입니다.
    이 저장소는 원작자의 요청에 따라 언제든 지워질 수 있으며, 현재 API와 일치하지 않을 수도 있는 점 양해 부탁드립니다.

    <sup>
      solved.ac 서비스는 shiftpsh가 기획·개발·디자인·운영하는 프로젝트로,
      이 저장소와는 solved.ac의 API를 문서화해둔 것 이외에는 아무런 관련이 없습니다.
    </sup>

    [GitHub에서 보기](https://github.com/solvedac/unofficial-documentation)

    ![@solvedac/unofficial-documentation banner](./assets/solvedac-ud-compact.png)
  contact:
    email: public.ranolp@gmail.com

servers:
  - url: https://solved.ac/api/v3

tags:
  - name: "account"
    description: "계정과 관련이 있는 API입니다"
  - name: "other"
    description: "아직 분류하지 못한 API입니다"
  - name: "problem"
    description: "문제와 관련이 있는 API입니다"
  - name: "search"
    description: "검색과 관련이 있는 API입니다"
  - name: "user"
    description: "사용자와 관련이 있는 API입니다"

paths:
  /account/redeem:
    post:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /account/update_settings:
    $ref: "./paths/account/update_settings.yaml#/paths/Path"
  /account/verify_credentials:
    $ref: "./paths/account/verify_credentials.yaml#/paths/Path"
  /post/show:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /problem/class:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /problem/show:
    $ref: "./paths/problem/show.yaml#/paths/Path"
  /problem/level:
    $ref: "./paths/problem/level.yaml#/paths/Path"
  /ranking/tier:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/class:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/streak:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/contribution:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/rival:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/reverse_rival:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /ranking/organization:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /search/problem:
    $ref: "./paths/search/problem.yaml#/paths/Path"
  /search/suggestion:
    $ref: "./paths/search/suggestion.yaml#/paths/Path"
  /search/tag:
    $ref: "./paths/search/tag.yaml#/paths/Path"
  /search/user:
    $ref: "./paths/search/user.yaml#/paths/Path"
  /site/stats:
    $ref: "./paths/site/stats.yaml#/paths/Path"
  /tag/list:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/class_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/contribution_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/problem_stats:
    $ref: "./paths/user/problem_stats.yaml#/paths/Path"
  /user/problem_tag_stats:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"
  /user/show:
    get:
      description: "TODO"
      responses:
        "200":
          description: "TODO"

components:
  securitySchemes:
    solvedacToken:
      $ref: "./security-schemes/auth.yaml#/components/securitySchemes/SecurityScheme"
  schemas:
    IconScheme:
      $ref: "./schemas/icon-scheme.yaml#/components/schemas/Schema"
    Language:
      $ref: "./schemas/language.yaml#/components/schemas/Schema"
    TaggedProblem:
      $ref: "./schemas/tagged-problem.yaml#/components/schemas/Schema"
    Problem:
      $ref: "./schemas/problem.yaml#/components/schemas/Schema"
    ProblemLevel:
      $ref: "./schemas/problem-level.yaml#/components/schemas/Schema"
    ProblemTag:
      $ref: "./schemas/problem-tag.yaml#/components/schemas/Schema"
    RankedUser:
      $ref: "./schemas/ranked-user.yaml#/components/schemas/Schema"
    Settings:
      $ref: "./schemas/settings.yaml#/components/schemas/Schema"
    User:
      $ref: "./schemas/user.yaml#/components/schemas/Schema"
    UserTier:
      $ref: "./schemas/user-tier.yaml#/components/schemas/Schema"
